[data-rs="0"] {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border-top: 16px solid #4285F4;
    border-right: 16px solid #34A853;
    border-bottom: 16px solid #EA4335;
    border-left: 16px solid #FBBC05;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}