<?xml version="1.0" encoding="utf-8"?>
<configuration
    xmlns:patch="http://www.sitecore.net/xmlconfig/"
    xmlns:role="http://www.sitecore.net/xmlconfig/role/">

  <sitecore>
    <pipelines>
      <mvc.actionExecuted>
        <processor type="Symposium.Feature.CDN.Pipelines.Mvc.ActionExecuted.CDNCacheControl, Symposium.Feature.CDN"
                   patch:after="processor[@type='Sitecore.Mvc.Pipelines.MvcEvents.ActionExecuted.CacheControl, Sitecore.Mvc']" />
      </mvc.actionExecuted>

      <mvc.buildPageDefinition>
        <processor type="Symposium.Feature.CDN.Pipelines.Mvc.BuildPageDefinition.ProcessXmlBasedLayoutDefinition, Symposium.Feature.CDN"
                   patch:instead="processor[@type='Sitecore.Mvc.Pipelines.Response.BuildPageDefinition.ProcessXmlBasedLayoutDefinition, Sitecore.Mvc']"/>
      </mvc.buildPageDefinition>

      <mvc.renderRendering>
        <processor
            type="Symposium.Feature.CDN.Pipelines.Mvc.RenderRendering.AddOpeningRenderingIdTag, Symposium.Feature.CDN"
            patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.ExecuteRenderer, Sitecore.Mvc']" />
        <processor
            type="Symposium.Feature.CDN.Pipelines.Mvc.RenderRendering.AddClosingRenderingIdTag, Symposium.Feature.CDN"
            patch:after="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.ExecuteRenderer, Sitecore.Mvc']" />
      </mvc.renderRendering>

      <mvc.getRenderer>
        <processor type="Symposium.Feature.CDN.Pipelines.Mvc.GetRenderer.GetLoaderViewRenderer, Symposium.Feature.CDN"
                   patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.GetRenderer.GetViewRenderer, Sitecore.Mvc']" />
        <processor type="Symposium.Feature.CDN.Pipelines.Mvc.GetRenderer.GetLoaderControllerRenderer, Symposium.Feature.CDN"
                   patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.GetRenderer.GetControllerRenderer, Sitecore.Mvc']" />
      </mvc.getRenderer>
    </pipelines>

    <settings>
      <setting name="Symposium.Feature.CDN.OriginalHost" value="symposium2019cdndemo-single.azurewebsites.net" />
    </settings>

  </sitecore>
</configuration>