<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Feature.CDN" description="Feature CDN" dependencies="Foundation.*" extends="Helix.Feature">
          <predicate>
            <include name="Layouts" database="master" path="/sitecore/layout/layouts/Feature/CDN" />
            <include name="SystemViewRendering" database="master" path="/sitecore/templates/System/Layout/Renderings/View rendering">
              <exclude children="true" />
            </include>
            <include name="SystemControllerRendering" database="master" path="/sitecore/templates/System/Layout/Renderings/Controller rendering">
              <exclude children="true" />
            </include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>