<div 
    class="lds-spinner" 
    data-rendering-id="@Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.UniqueId"
    data-rendering-is-dynamic="1"
    data-placeholder="@Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Placeholder">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>